.option {
  margin-top: 120px;
  $self: &;

  &:nth-child(2n + 2) {
    #{$self}__img {
      margin-left: 8%;

      @include media-breakpoint-down(lg) {
        margin: 0 auto;
      }
    }
  }

  &__line {
    padding-top: 120px;
    border-bottom: 1px solid rgba($green, 0.5);

    @include media-breakpoint-down(lg) {
      padding-top: 80px;
    }
  }

  &__subtitle {
    color: $green;
    text-align: left;
    margin-bottom: 30px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
  }

  &__title {
    position: relative;
    color: $sea;
    margin-bottom: 60px;

    span {
      position: relative;
      display: inline-block;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid $orange;
        height: 100%;
        width: calc(100% + 10%);
        border-radius: 146px;

        @include media-breakpoint-down(lg) {
          width: 100%;
        }
      }

      @include media-breakpoint-down(lg) {
        padding: 0 8px;
      }
    }

    @include media-breakpoint-down(lg) {
      margin-bottom: 31px;
    }
  }

  &__text-item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(lg) {
      margin-bottom: 15px;
    }
  }

  &__btn {
    border: 0.840625px solid $dusty;
    margin-top: 60px;

    @include media-breakpoint-down(lg) {
      margin-top: 30px;
      margin-bottom: 60px;
      padding: 14px 35px 16px;
    }
  }

  &__img {
    @include aspect-ratio-pseudo(532, 780);
    max-width: 532px;

    img {
      border-radius: 287px;

      @include media-breakpoint-down(lg) {
        border-radius: 1000px;
      }
    }

    @include media-breakpoint-down(lg) {
      @include aspect-ratio-pseudo(334, 214);
      margin: 0 auto;
    }
  }

  @include media-breakpoint-down(lg) {
    margin-top: 80px;
    padding-bottom: 0;
  }
}
