@mixin headline {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  color: $white;
}

@mixin relativeSize($size) {
  font-size: calc(#{$size} / 1920 * 100vw);
}

@mixin headline-1 {
  @include headline;
  font-weight: 400;
  font-size: 110px;
  line-height: 113%;
  letter-spacing: -0.02em;

  @include media-breakpoint-between(lg, xxxl) {
    @include relativeSize(110);
  }

  @include media-breakpoint-down(lg) {
    font-size: 50px;
    line-height: 120%;
  }
}

@mixin headline-2 {
  @include headline;
  font-weight: 400;
  font-size: 60px;
  line-height: 150%;
  letter-spacing: -0.02em;

  @include media-breakpoint-between(lg, xxxl) {
    @include relativeSize(60);
  }

  @include media-breakpoint-down(lg) {
    font-size: 34px;
    line-height: 140%;
  }
}

@mixin headline-3 {
  @include headline;
  font-family: $font-main;
  font-weight: 500;
  font-size: 48px;
  line-height: 146%;

  @include media-breakpoint-between(lg, xxxl) {
    @include relativeSize(48);
  }

  @include media-breakpoint-down(lg) {
    font-size: 24px;
    line-height: 142%;
  }
}

h1,
.headline-1 {
  @include headline-1;
}

h2,
.headline-2 {
  @include headline-2;
}

h3,
.headline-3 {
  @include headline-3;
}

@mixin caption {
  @include headline;
  font-family: $font-main;
  font-weight: 500;
  font-size: 22px;
  line-height: 146%;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include media-breakpoint-between(lg, xxxl) {
    @include relativeSize(22);
  }

  @include media-breakpoint-down(xl) {
    font-size: 14px;
    line-height: 182%;
  }
}

@mixin body-small {
  font-family: $font-main;
  font-weight: 500;
  font-size: 22px;
  line-height: 146%;
  letter-spacing: unset;

  @include media-breakpoint-down(xl) {
    font-size: 16px;
  }
}

@mixin body {
  font-family: $font-main;
  font-weight: 500;
  font-size: 32px;
  line-height: 146%;

  @include media-breakpoint-between(lg, xxxl) {
    @include relativeSize(34);
  }

  @include media-breakpoint-down(lg) {
    font-size: 18px;
  }
}

@mixin link {
  font-family: $font-main;
  font-weight: 700;
  font-size: 18px;
  line-height: 146%;
  letter-spacing: 0.01em;

  @include media-breakpoint-down(lg) {
    font-size: 16px;
    line-height: 150%;
  }
}

@mixin btn-small {
  font-family: $font-main;
  font-weight: 700;
  font-size: 18px;
  line-height: 146%;
  text-align: center;
  letter-spacing: 0.01em;

  @include media-breakpoint-down(lg) {
    font-size: 16px;
    line-height: 150%;
  }
}

@mixin btn-large {
  font-family: $font-main;
  font-weight: 700;
  font-size: 32px;
  line-height: 105%;
  letter-spacing: 0.01em;

  @include media-breakpoint-between(lg, xxxl) {
    @include relativeSize(32);
  }

  @include media-breakpoint-down(lg) {
    font-size: 20px;
    line-height: 105%;
  }
}

.body-small {
  @include body-small;
}

.btn-small {
  @include btn-small;
}

.btn-large {
  @include btn-large;
}

.body {
  @include body;
}

.caption {
  @include caption;
}
